.monaco-dialog-modal-block {
  border-radius: 6px;
}

.show-file-icons .file-icon::before {
  color: #767c9d !important;
}

.monaco-text-button {
  border-radius: 16px;
}

.monaco-inputbox {
  border-radius: 6px;
}

.suggest-input-container {
  border-radius: 6px;
}

.editor-actions {
  height: 1.75rem !important;
}

.editor-widget {
  border-radius: 8px !important;
}

.editor-widget > .monaco-sash {
  display: none;
}

.monaco-hover {
  border-radius: 16px !important;
}

.editor-widget.find-widget.visible{
  border-radius: 16px !important;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4) !important;
  margin-top: 10% !important;
  height: 50px !important;
  width: 550px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.2) !important;
}

.monaco-editor .find-widget>.button.codicon-widget-close {
  top: unset;
}

.quick-input-widget {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 16px !important;
  padding: 0 12px 16px 12px;
  margin-top: 10% !important;
  border: 1px solid #2D2D2D !important;
}

.quick-input-widget.show-file-icons .quick-input-header {
  padding: 0.1px !important;
  border: 0px;
  border-bottom: 1px solid #2D2D2D !important;
}

.quick-input-widget.show-file-icons .monaco-inputbox {
  border: 0px !important;
  border-radius: 4px 4px 0px 0px !important;
}

.quick-input-widget.show-file-icons .monaco-inputbox input {
  padding: 12px 16px !important;
  font-size: 16px !important;
  background-color: #0a0a0a !important;
}

.quick-input-widget.show-file-icons .monaco-inputbox.synthetic-focus {
  outline: none !important;
}

.quick-input-list .monaco-list-rows {
  border-radius: 0px 0px 16px 16px !important;
}

.tabs-container {
  padding-bottom: 0.5rem !important;
}

.tab-label {
  line-height: 1.75rem !important;
}

.tab {
  height: 1.75rem !important;
}

.titlebar-left {
  width: 0px !important;
  flex-grow: 0 !important;
  margin-right: 5% !important;
}

.scrollbar.horizontal {
  height: 8px !important;
}

.vertical > .slider {
  width: 8px !important;
}

.slider {
  border-radius: 12px !important;
}

.tabs-container > .tab {
  border-radius: 16px !important;
  scale: 0.95 !important;
  margin-left: 0px;
  margin-right: 0px;
}

.quick-input-header {
  margin-bottom: 10px !important;
}

.inline-titlebar-placeholder {
  padding-right: 8px !important;
}

.suggest-widget {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.suggest-details {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
  width: fit-content;
  font-weight: bolder;
  padding: 0px 12px 0px 8px;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center .action-item.command-center-quick-pick .search-icon {
  visibility: hidden;
  width: 0px;
  
}

.quick-input-list .monaco-list-rows{
  background: none !important;
}